*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  place-content: center;
  background-color: #e91e;
}
.slider-cont{
  padding: 25px;
  background-color: #fff;
  border-radius: 40px;
  display: flex;
  align-items: center;
  margin-top: 300px;
  width: 300px;
  margin-left: 200px;
}
.btn-11{
  width: 120px;
  height: 100px;
  border: none;
  color: black;
  background-color:#596aff;
  border-radius: 40px;
  box-shadow: inset 0 0 0 0 #03eeff;
  transition: ease-out 0.3s;
  font-size: 40px;
  letter-spacing: 5px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  margin-right: 500px;
  margin-bottom: 40px;
}
.slider{
  position: relative;
  width: 250px;
  height: 20px;
}
.slider input{
  position: absolute;
  left: -6px;
  top: 0;
  width: 212px;
  height: 20px;
  -webkit-appearance: none;
  background-color: transparent;
  z-index: 99;
}
.slider input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #e91e63;
  border-radius: 50%;
  cursor: pointer;
}
.slider progress{
  width: 200px;
  height: 20px;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
}
.slider progress::-webkit-progress-bar{
  background-color: #f0f0f0;
}
.slider progress::-webkit-progress-value{
  background-color: #e91e63;
}
.sliderValue{
  width: 28px;
  height: 20px;
  margin-left: 10px;
  text-align: center;
}
.container{
  width: 200px;
  position: relative;
}
.click{
  background-color: #f7ca00;
}
.click:hover{
  background-color: #c7a200;
}
.click, .links{
  padding: 40px;
  font-size: 1.2em;
  font-family: Roboto;
  border: none;
  outline: none;
  width: 200px;
  color: white;
}
.list{
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}
.newlist{
  transform: scaleY(1);
  
}
.links{
  background-color: #7A5197;
}
.links:hover{
  background-color: #BB5098;
  transform: scale(1.1);
}
container2{
  width: 200px;
  position: relative;
}
.click2{
  background-color: #f7ca00;
}
.click2:hover{
  background-color: #c75d50;
}
.click2, .links2{
  padding: 40px;
  font-size: 1.2em;
  font-family: Roboto;
  border: none;
  outline: none;
  width: 200px;
  color: white;
}
.list2{
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}
.newlist2{
  transform: scaleY(1);
  
}
.links2{
  background-color: #7A5197;
}
.links2:hover{
  background-color: #BB5098;
  transform: scale(1.1);
}
button{
  margin-left: 250px;
  margin-top: 40px;
}

.tablet{
  background-color: #ffc999;
  background-image: url("https://i.ibb.co/Twg46yV/library.png");
  background-size: 500px;
}
