body{
  text-align: center;
}
.btn-11{
  width: 120px;
  height: 100px;
  border: none;
  color: black;
  background-color:#596aff;
  border-radius: 40px;
  box-shadow: inset 0 0 0 0 #03eeff;
  transition: ease-out 0.3s;
  font-size: 40px;
  letter-spacing: 5px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  margin-right: 400px;
  margin-bottom: 40px;
}
.btn-12{
  margin-top: 10px;
  width: 120px;
  height: 100px;
  border: none;
  color: black;
  background-color: #596aff;
  border-radius: 40px;
  box-shadow: inset 0 0 0 0 #03eeff;
  transition: ease-out 0.3s;
  font-size: 40px;
  letter-spacing: 5px;
  outline: none;
  font-family: 'Roboto', sans-serif;;}
  
 .btn-2{
  width: 120px;
  height: 100px;
  border: none;
  color: black;
  background-color: #f7ca00;
  border-radius: 40px;
  box-shadow: inset 0 0 0 0 #03eeff;
  transition: ease-out 0.3s;
  font-size: 33px;
  letter-spacing: 5px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  margin: 60px;
}
.img1{
  margin: 5px;
}
.image2{
  height: 700px;
  margin-bottom: 0px;
}
  
.tablet{
  background-image: url("https://i.ibb.co/SP45qbC/schoolwallpaper.png");}